.light {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  min-height: 30vh;
  min-width: 30vh;
}

.dark {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  min-height: 30vh;
  min-width: 30vh;
}

.disclaimer {
  font-size: small;
}