.MuiTablePagination-selectLabel {
    margin: 0;
    color: white;
}

.MuiTablePagination-displayedRows {
    margin: 0;
    color: white;
}

.MuiSvgIcon-root {
    color: white;
}

.MuiToolbar-root {
    color: white;
}