.MuiTablePagination-selectLabel {
    margin: 0;
    color: white;
}

.MuiTablePagination-displayedRows {
    margin: 0;
    color: white;
}

.MuiSvgIcon-root {
    color: white;
}

.MuiToolbar-root {
    color: white;
}

.card-body {
    padding: 10px;
}

.card-text {
    margin-bottom: 8px;
}

.accordion-button.collapsed {
    color: white !important;
    border: 1px solid white;
}

.accordion-button:focus {
    box-shadow: none;
    color: white !important;
}

.accordion-button:not(.collapsed) {
    color: white !important;
}

.accordion-button::after {
    color: white !important;
}

.accordion-button.collapsed::after {
    color: white !important;
}

.accordion-button {
    background-color: #212529 !important;
    color: white !important;
}

.accordion-body {
    color: white;
    background-color: #2c3034;
    border: none !important;
}

.accordion-item {
    border: none !important;
}

.accordText {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    margin: 0 !important;
}

.subText {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    margin: 0 !important;
    font-size: 14px;
}