.light {
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vh;
}

.dark {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vh;
}